$main-background-color: #f9f9f9;
$minor-background-color: #f3f5fa;
$footer-background-color: #2f303a;
$section-background-color: #ffffff;
$main-button-color: #2196f3;
$minor-button-color: #f5f4fa;
$main-text-color: #212121;
$minor-text-color: #757575;
$contrast-text-color: #ffffff;
$selected-text-color: #2196f3;
$footer-adress-color: rgba(255, 255, 255, 0.6);
$white: rgb(0, 0, 0);
$icons-primary-color: #afb1b8;
$icons-lines-color: #212121;
$icons-contrast-color: #2196f3;
$icons-background-color: #f5f4fa;

$font-family-main: Roboto, sans-serif;
$font-family-secondary: Raleway, sans-serif;
